

/* Apply styles for the text */
.text {
    text-align: left;
    width: 90%; /* Initially, text takes up 90% of the width */
    font-size: 24px; /* Set a default font size */
}

@media screen and (max-width:769px){.text{font-size:24px;}}