

/* Apply styles for the text */
.text {
    text-align: left;
    width: 90%; /* Initially, text takes up 90% of the width */
    font-size: 24px; /* Set a default font size */
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 28px; /* Adjust font size for mobile devices */
    }

    li {
        font-size: 18px; /* Adjust font size for mobile devices */
    }
}